.headermain {
  height: 400px;
  width: 100%;
  background-color: rgb(236, 236, 69);
}

.headermain::after {
  content: "";
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  opacity: 0.5;
  top: 120px;  
  height: 400px;
  width: 100%; 
  position: absolute;
  z-index: 0;   
}


/* background-color: #00238c; */
/* background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png"); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

.image-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}