.headermain {
  height: 400px;
  margin-top: 120px;
  width: 100%;
  background-color: rgb(236, 236, 69);
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");  
  z-index: 0; 
}

@media only screen and (min-width: 1024px) { 
  .headermain {
    width: 60%;
    margin-top: 40px;    
  }
}

.image-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}