nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;  
}

span {    
  font-family: 'Bungee', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.fas {
  color: red;
  align-items: flex-start;
}

.headermain {
  position: absolute;
  z-index: -1;
}