nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;  
}

span {    
  font-family: 'Bungee', sans-serif;
}

.top-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.right {  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.fas {
  color: red;
  align-items: flex-start;
}