.new-tweet {
  width: 100%;
}

#error {
  color: #D8000C;
  border: 2px solid red ;
  background-color: #fbebeb;
  display: none;
}

.bottom-part {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
}

button {
  background-color: #4056A1;  
  color: white;
}

#tweet-text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  background: rgba( 0,0,0,0);
  margin-bottom: 5px;
  /* border-bottom-width: thick; */
}


#tweet-text-label {
  font-weight: bold;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
}

.avatar {
  display: flex;
}

#container-tweets {
  border: 2px solid;
  padding: 5px;  
}

#article {
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  word-break: break-word;
}

#container-tweets:hover {
  /* border: 1px solid; */
  /* padding: 10px; */
  box-shadow: 5px 5px #888888;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
}

.footer-icons {
  display: flex;
}

.fa-solid:hover {
  color: gold;
}